body {
  background: rgba(0, 0, 0, 0.9);
  margin: 0;
  color: #fff;
}

.showcase::after {
  top: 85px;
  position: relative;
  content: "";
  height: 100vh;
  width: 100%;
  background-image: url('../public/img/showcase.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  filter: blur(10px);
  -webkit-filter: blur(10px);
  transition: all 1000ms;
}

.showcase:hover::after {
  filter: blur(0px);
  -webkit-filter: blur(0px);
}

.showcase:hover .content {
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

.content {
  position: absolute;
  z-index: 1;
  top: 10%;
  left: 50%;
  margin-top: 150px;
  margin-left: -145px;
  width: 300px;
  height: 350px;
  text-align: center;
  transition: all 1000ms;
}

.content .title {
  font-size: 2.2rem;
  margin-top: 1rem;
}

.content .text {
  line-height: 1.7;
  margin-top: 1rem;
}

section {
  margin: auto;
  overflow: hidden;
}

.center {
  text-align: center;
  margin: auto;
}

/* a {
  color: #f4f4f4;
} */

a:hover {
  color: #6d6666;
}

.line {
  border-bottom: #333 dashed 1px;
  padding: 1.2rem 1rem;
}

.bg-light {
  background: #f4f4f4;
  color: #333;
}

.bg-dark {
  background: #333;
  color: #f4f4f4;
}

.gallery img {
  transition: 1s;
}

.gallery img:hover {
  filter: grayscale(100%);
  transform: scale(1.1);
}